<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/Eform.css">
    
    <title>Registro</title>
    
</head>
<body>
    <header>
        <picture>
            <a href="/"><img  title="logo sin fondo" src="/images/Logos/PymeWaveSinFondo.png"></a>
        </picture>
    </header>

    <main>
        <div class="container">
            <h1>Registro</h1>
            <form id="form" action="/signUp/empresa/add" method="post" >
                <div class="inputbox">
                    <ion-icon name="person" ></ion-icon>
                    <input placeholder="Pyme" type="text" id="nombre" required>                   
                    <label for="">Nombre de la empresa</label>
                </div>
                <div class="inputbox">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input placeholder="pyme123@pyme.com" type="email" id="Correo" required>
                    <label for="">Correo Electronico</label>
                </div>
                <div class="inputbox">
                    <ion-icon name="notifications"></ion-icon>
                    <input placeholder="3139368297" type="text" id="Telefono"  required>
                    <label for="">Telefono:</label>
                </div>
                <div class="inputbox">
                    <ion-icon name="home"></ion-icon>
                    <input placeholder="Bogota" type="text" id="Ubicacion" required >
                    <label for="">Ubicación</label>
                </div>
                <div class="inputbox">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input placeholder="********" type="password" id="password" required>
                    <label for="">Contraseña</label>
                </div>
                <br>
                <div class="enter">
                    <button type="submit" >Registrar</button>
                </div>   
            </form>
            
           
        </div>
    </main>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>