/*Start Main CSS*/

main > picture{
    height: 50vh;
    width: 100vw;
}

main > picture >img{
    width: inherit;
    height: inherit;
    object-fit:cover;
    object-position: 0px 50%;
    overflow: hidden;
}

.center{
    Width: 80%;
    Margin: 2rem auto;
}

.search {
    width: 650px;
    height: 60px;
    margin-top: 3rem;
    background: #444;
    background: rgba(0,0,0,0);
    border-radius:  3px;
    border: 1px solid #202C3F;
}

.input-container[data-error] input{
    color: #202C3F;
    width: 528px;
    height: 59px;
    padding: 11px 5px;
    float: left;
    background: transparent;
    border: 0;
    border-radius: 3px 0 0 3px;
}

.button-container{
    width: inherit;
    height: inherit;
}
    
.search button {
      border: 0;
      padding: 0;
      cursor: pointer;
      height: 59px;
      width: 120px;
      color: white;
      background: #202C3F;
      border: 0 0 1px 0 solid #202C3F;
      border-radius: 0 3px 3px 0;  
}  

.search button:hover{
    background: #7DA9DB;
    box-shadow: 1px 1px 1px 1px #202C3F;
    transition: all 0.5s ease;
    color: #202C3F;
}
 

#promt{
    font-weight: 600;
    font-size: 60px;
    color: #202C3F;
}

.feed{
    width: 100%;
    margin: 0 auto;
}

.arrow_left{
    position: absolute;
    margin-top: 22rem;
    margin-left: 10rem;
}

.arrow_left button{
    background:transparent;
    border: none;
}

.arrow_left img{
    width: 10rem;
}

.arrow_right{
    position: absolute;
    margin-top: 22.5rem;
    margin-left: 90%;
}

.arrow_right button{
    background: transparent;
    border: none;
}

.arrow_right img{
    width: 9rem;
}

.scrollport{
    width: 70%;
    height: 500px;
    margin: 5rem auto;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
}

.scrollport .indicators{
    position: absolute;
}

.indicators h1,h2{
    color:#202C3F;
}

.indicators h1{
    font-size: 2.5rem;
}

.indicators h2{
    font-size: 1.7rem;
}

.indicators .arrow_left{
    position: sticky;
}


.container{
    margin: 8rem 10rem;
    display: inline-block;
}

.container img{
    border-radius: 15px;
    border: 1.5px solid #202C3F;
}

.scrollport img{
    scroll-snap-align: center;
}

/*End Main CSS*/